@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.content {
  max-width: 450px;
  width: 100%;

  &__title {
    margin-top: 0;
    margin-bottom: rem(29);
    color: $dark;
    font-family: $fontPoppins;
    font-size: rem(64);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
      margin-bottom: rem(25);
      font-size: rem(54);
    }

    @media screen and (max-width: 991px) {
      line-height: 1.2;
    }

    @media screen and (max-width: 767px){
      font-size: rem(48);
      line-height: 1.2;
    }
  }

  &__column {
    & + & {
      margin-top: rem(90);

      @media screen and (max-width: 1440px) {
        margin-top: rem(60);
      }

      @media screen and (max-width: 767px) {
        margin-top: rem(30);
      }
    }
  }

  &__subtitle {
    color: $secondary;
    font-family: $fontPoppins;
    font-size: rem(18);
    font-weight: 900;
    line-height: 1.7778;
    text-transform: uppercase;
    letter-spacing: rem(3.6);
  }

  &__subtext {
    margin-bottom: rem(20);
    color: $secondary;
    font-family: $fontPoppins;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.6667;

    @media screen and (max-width: 1440px){
      font-size: rem(16);
    }
  }

  &__text {
    color: $secondary;
    font-family: $fontPoppins;
    font-size: rem(24);
    font-weight: 400;
    line-height: 1.45;

    @media screen and (max-width: 1440px){
      font-size: rem(16);
    }

    & + &, & + .content__list {
      margin-top: rem(36);

      @media screen and (max-width: 1440px){
        margin-top: rem(30);
      }
    }
  }

  &__list {

    li {
      @extend .content__text;

      &::before {
        display: inline-block;
        content: '';
        border: 1px solid #FF2020;
        width: rem(11);
        height: rem(11);
        border-radius: 50%;
        margin-right: rem(10);
        line-height: 1;
        position: relative;
        top: rem(-2);
      }

      & + li {
        margin-top: 0;
      }
    }

  }

  &__btn {
    margin-top: rem(50);

    @media screen and (max-width: 1440px){
      margin-top: rem(43);
    }
  }
  &__link {
    display: inline-flex;
    margin-top: rem(37);

    @media screen and (max-width: 1440px){
      margin-top: rem(32);
    }
  }
}
