@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: opacity .5s, transform .5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;

  @media screen and (max-width: 1440px){
    right: rem(12);
  }

  @media screen and (max-width: 767px){
    display: none;
  }

  &.invisible {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }

  ul {
    list-style-type: none;

    .nav-btn {
      position: relative;
      overflow: hidden;
      width: rem(16);
      height: rem(16);
      margin-bottom: rem(8);
      border: 1px solid $primary;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity .15s, ease-in-out, transform .15s, ease-in-out;
      will-change: border-color, transform;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.3);
        background-color: $primary;
        opacity: 0;
        transition: transform .15s, ease-in-out, opacity .15s, ease-in-out;
        will-change: transform, opacity;
      }

      &.active:after,
      &:hover:after {
        transform: translateX(-50%) translateY(-50%) scale(0.7);
        opacity: 1;
      }

      &:hover {
        opacity: .85;
        transform: scale(1.2);

        &:after {
          opacity: .85;
        }
      }
    }
  }

  .scroll-btn {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid $primary;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: opacity .15s ease-in-out;

    &.up {
      top: -1.6rem;
      transform: rotate(-45deg);
    }
    &.down {
      bottom: -1.2rem;
      transform: rotate(135deg);
    }

    &:hover {
      opacity: .85;
    }
  }
}