@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: rem(5);
	height: rem(48);
	white-space: nowrap;
	padding: 0 rem(20);
	min-width: 200px;
	color: $contrast;
	font-family: $fontPoppins;
	font-size: rem(18);
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: rem(3.6);
	transition: opacity .15s ease-in-out;
	
	@media screen and (max-width: 1440px){
		height: rem(40);
		padding: 0 rem(15);
		font-size: rem(16);
	}
	
	&-primary {
		background-color: $primary;
	}
	
	&:hover {
		opacity: .85;
	}
}

.link {
	display: inline-flex;
	align-items: center;
	color: $primary;
	font-family: $fontPoppins;
	font-size: rem(24);
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: rem(2);
	white-space: nowrap;

	@media screen and (max-width: 1440px){
		font-size: rem(16);
	}

	@media screen and (max-width: 767px){
		font-size: rem(12);
	}

	svg {
		transform: rotate(180deg);
		margin-left: rem(19);
		width: auto;
		height: rem(20);

		@media screen and (max-width: 1440px){
			height: rem(14);
			margin-left: rem(5);
		}

		@media screen and (max-width: 767px){
			height: rem(10);
		}

		use {
			fill: $primary
		}
	}
}

.btn-menu {
	width: rem(40);
	line-height: 1;
	cursor: pointer;

	span {
		display: block;
		background-color: $contrast;
		height: rem(3);
		border-radius: rem(2);

		& + span {
			margin-top: rem(7);
		}
	}
}

.btn-menu-close {
	position: absolute;
	top: rem(20);
	right: rem(20);
}
