@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.checkbox {
  display: inline-flex;
  padding-left: rem(30);
  position: relative;
  font-family: $fontPoppins;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.7778;
  color: $secondary;

  & + & {
    margin-left: rem(15);
  }

  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &:checked + label i {
      background-color: $primary;

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  i {
    position: absolute;
    top: rem(7);
    left: 0;
    display: block;
    width: rem(18);
    height: rem(18);
    border: 2px solid $primary;
    transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-image: url('../../../img/general/checked.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: rem(14) rem(14);
      width: rem(18);
      height: rem(18);
      opacity: 0;
      visibility: hidden;
      transition:
              visibility .15s ease-in-out,
              opacity .15s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 2px $secondary;
    }
  }

  .link {
    color: $primary;
    font-size: inherit;
    text-transform: initial;
  }
}
