@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.form {
	max-width: 450px;
	width: 100%;
	margin: auto;

	.page-inner & {
		padding: 0 rem(15);
	}

	&__caption {
		margin-bottom: rem(50);
		text-align: center;

		@media screen and (max-width: 767px){
			margin-bottom: rem(20);
		}
	}
	
	&__groups {

		& + & {
			margin-top: rem(80);

			@media screen and (max-width: 767px){
				margin-top: rem(40);
			}
		}

		.content {
			&__subtitle {
				text-align: center;
				margin-bottom: rem(10);
			}
		}

		& + .form__check {
			margin-top: rem(23);
			text-align: center;

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}
	}

	&__group {
		display: block;

		& + & {
			margin-top: rem(23);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}

		& + .form__check {
			margin-top: rem(23);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}
	}

	&__title {
		margin-bottom: rem(24);
		color: $secondary;
		font-family: $fontPoppins;
		font-size: rem(18);
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
	}

	&__subtitle {
		color: $secondary;
		font-family: $fontPoppins;
		font-size: rem(11);
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: rem(2.2);
	}
	
	&__control {
		display: block;
		width: 100%;
		height: rem(48);
		background-color: $contrast;
		border: 1px solid transparent;
		padding: 0 rem(20);
		font-family: $fontPoppins;
		font-size: rem(18);
		line-height: 1;
		font-weight: 400;
		
		@media screen and (max-width: 1366px){
			font-size: rem(16);
			height: rem(40);
		}
		
		@at-root {
			textarea#{&} {
				height: rem(96);
				padding: rem(15, 20);
				resize: none;
			}
		}
		
		&.invalid {
			border-color: $danger;
		}
		
		&.valid {
			border-color: $success;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
	
	&__btn {
		margin-top: rem(20);
		
		@media screen and (max-width: 485px){
			margin: rem(20) auto 0;
			display: block;
		}
	}
}
