<div class="menu-drop">
    <button type="button" class="btn-menu-close" id="btnMenuClose">
        <svg width="20" height="20">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <nav class="nav">
        <a href="#about" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">about</a>
        <a href="#audiances" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".2s">Our Audiances</a>
        <a href="#advertise" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">Advertise</a>
        <a href="#contacts" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">Contacts</a>
    </nav>
    <!-- /.nav -->

<!--    <div class="auth">-->
<!--        <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">sign up</a>-->
<!--        <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">login</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.auth &ndash;&gt;-->
</div>
<!-- /.menu-drop -->
